body {

    overflow-x: hidden;

}

a {
    text-decoration: none;
}

.navImage {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-left: 50px;
}

.navbar-nav {
    font-size: 19px;
}


.textHome {
    font-size: 190%;
    margin-top: 100px;
}

.profilePic {
    height: 300px;
    width: 300px;
    border-radius: 20%;
    margin-top: 100px;
    float: right;
    margin-right: 100px;

}


@media(max-width:991.98px) {
    .imgCenter {
        display: flex;
        justify-content: center;
    }

    .profilePic {
        margin-right: -50px;
    }

    .home {
        display: flex;
        flex-direction: column-reverse;

    }

    .textHome {
        margin-bottom: 100px;
    }

    .skillsText {
        margin-top: 100px;
    }


}


.skillsText {
    margin-bottom: 100px;
}

.bmi,
.blogging,
.eCom {
    height: 200px;
    width: 200px;
}

.textHome,
.contactBtn {
    margin-left: 150px;
}


.textHome,
.profilePic {
    margin-top: 250px;
}

#About,
#Skills,
#Project,
#Contact {
    padding: 7% 7%;
    margin-top: 0;
}

.feature-box {
    padding: 4.5%;

}

.aboutText,
.projectText,
.cText {
    font-weight: 450;
    font-size: 20px;
}

#footer {
    background-color: #00b3ff;
    padding: 2%;
}

.social-icon {
    color: black;
    margin: 25px 20px;

}

.social-icon:hover {
    color: #fff;
}

h1:hover {
    color: white;
    text-shadow: 1px 1px 5px red;
}

.cText {
    margin: 2px 100px;
}

.marquee {
    color: white;
}
.home-section{
    background: #00aeff;
}

.skill-section{
    background: #9fecff;
}

.project-section{
    background: #ceebff;
}
.about-section{
    background: #e1f6ff;
}
.contact-section{
    background: #f8fdff;
}
